body {
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
}

body header .carousel {
  margin-bottom: 40px;
}

body header #sale-item {
  color: #e62424;
}

body header a {
  color: #111;
  font-size: 20px;
  padding: 0 10px;
  position: relative;
}

body header a:hover {
  text-decoration: none;
  color: #111;
}

body header a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -5px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #111;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

body header a:hover:after {
  width: 100%;
  left: 0;
}

body main {
  padding: 50px 0;
  margin-bottom: 50px;
}

body main section {
  margin-top: 20px;
  position: relative;
}

body main section a {
  text-decoration: none;
  color: #111;
}

body main section a img {
  width: 100%;
}

body main section a .section-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  width: calc(100% - 30px);
  height: 100%;
  display: none;
}

body main section a .section-overlay h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fafafa;
  font-size: 60px;
  margin: 0 auto;
}

body main section:hover .section-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body footer .pre-footer ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

body footer .pre-footer ul li {
  display: inline-block;
  list-style-type: none;
}

body footer .pre-footer ul li a {
  color: #111;
  font-size: 20px;
  padding: 0 10px;
  position: relative;
}

body footer .pre-footer ul li a:hover {
  text-decoration: none;
  color: #111;
}

body footer .pre-footer .footer-menu {
  padding-bottom: 30px;
}

body footer .pre-footer .footer-menu a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -5px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #111;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

body footer .pre-footer .footer-menu a:hover:after {
  width: 100%;
  left: 0;
}

body footer .pre-footer .footer-social {
  white-space: nowrap;
}

body footer .pre-footer .footer-social a {
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

body footer .pre-footer .footer-social a:hover i {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

body footer .copyright p {
  color: #6c6e70;
  margin: 15px auto 20px;
}

body #search-block {
  position: absolute;
  display: none;
  top: 60px;
  left: 0px;
  background-color: #fafafa;
  width: 100%;
  height: 1000px;
  z-index: 50;
}

body #search-block #search-input-block {
  font-size: 20px;
  position: relative;
  top: 100px;
  border-bottom: 2px solid black;
  margin: 0 auto;
  width: 50%;
  background-color: #fafafa;
}

body #search-block #search-input-block #search-input {
  border: none;
  background-color: #fafafa;
  width: 95%;
  padding: 10px;
}

.jumbotron {
  background-color: #111;
  color: #fafafa;
}

.to-home-page {
  display: inline-block;
  margin: 20px;
}

.div-with-articles {
  margin-bottom: 70px;
}

.div-with-articles article {
  padding: 15px;
}

.div-with-articles article .second-img {
  display: none;
}

.div-with-articles article .price {
  display: inline-block;
  color: black;
  font-size: 20px;
}

.div-with-articles article .sale-price {
  display: none;
}

.div-with-articles article .old-price {
  color: #6c6e70;
  text-decoration: line-through;
}

.div-with-articles article:hover .first-img {
  display: none;
}

.div-with-articles article:hover .second-img {
  display: block;
}

.product-page img {
  width: 100%;
}

.product-page .carousel {
  display: none;
}

.product-page .carousel .carousel-indicators li {
  background-color: #6c6e70;
}

.product-page h2 {
  display: inline-block;
  margin-top: 50px;
  margin-right: 50px;
}

.product-page .sale-price {
  display: none;
}

.product-page .old-price {
  color: #6c6e70;
  text-decoration: line-through;
}

.product-page form {
  margin: 50px 0;
}

.product-page form .form-btn {
  margin: 30px 0;
}

.product-page form .form-btn button {
  margin-right: 15px;
  width: 135px;
}

.product-page .protection i {
  font-size: 30px;
  margin-right: 10px;
}

.product-page .protection p {
  display: inline-block;
}

.cart-page h1 {
  text-align: center;
}

.cart-page table td, .cart-page table th {
  vertical-align: middle;
}

.cart-page table th {
  width: 30px;
}

.cart-page table td {
  width: 120px;
}

.cart-page table .delete {
  width: 30px;
}

.cart-page table .delete i {
  cursor: pointer;
}

.cart-page table img {
  width: 100%;
}

.cart-page .checkout {
  padding: 0 30px;
}

.cart-page .checkout th {
  font-size: 22px;
}

.cart-page .checkout td {
  text-align: right;
}

.cart-page .checkout a {
  display: block;
  padding: 10px;
  max-width: 230px;
  margin: 0 auto;
}

@media only screen and (max-width: 500px) {
  .footer-menu li {
    display: block !important;
    padding-bottom: 15px;
  }
}

@media only screen and (max-width: 992px) {
  .section-overlay {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .product-page .product-imgs {
    display: none;
  }
  .product-page .carousel {
    display: block;
  }
  .product-page .form-btn {
    margin: 30px auto !important;
  }
}

@media only screen and (max-width: 1204x) {
  .footer-social a {
    padding: 0 5px;
  }
}

@media only screen and (max-width: 767px) {
  .nav-item {
    width: 25%;
    padding-left: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 880px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 1125px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1700px;
  }
}
/*# sourceMappingURL=style.css.map */